AFsoa/SoapServiceTest2/Service References/MensajesWs2/Mensajes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Mensajes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57375/Mensajes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57375/Mensajes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMensajes_Saludar_InputMessage">
    <wsdl:part name="parameters" element="tns:Saludar" />
  </wsdl:message>
  <wsdl:message name="IMensajes_Saludar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaludarResponse" />
  </wsdl:message>
  <wsdl:message name="IMensajes_Despedir_InputMessage">
    <wsdl:part name="parameters" element="tns:Despedir" />
  </wsdl:message>
  <wsdl:message name="IMensajes_Despedir_OutputMessage">
    <wsdl:part name="parameters" element="tns:DespedirResponse" />
  </wsdl:message>
  <wsdl:message name="IMensajes_Descolor_InputMessage">
    <wsdl:part name="parameters" element="tns:Descolor" />
  </wsdl:message>
  <wsdl:message name="IMensajes_Descolor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DescolorResponse" />
  </wsdl:message>
  <wsdl:portType name="IMensajes">
    <wsdl:operation name="Saludar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMensajes/Saludar" message="tns:IMensajes_Saludar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMensajes/SaludarResponse" message="tns:IMensajes_Saludar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Despedir">
      <wsdl:input wsaw:Action="http://tempuri.org/IMensajes/Despedir" message="tns:IMensajes_Despedir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMensajes/DespedirResponse" message="tns:IMensajes_Despedir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Descolor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMensajes/Descolor" message="tns:IMensajes_Descolor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMensajes/DescolorResponse" message="tns:IMensajes_Descolor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMensajes" type="tns:IMensajes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Saludar">
      <soap:operation soapAction="http://tempuri.org/IMensajes/Saludar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Despedir">
      <soap:operation soapAction="http://tempuri.org/IMensajes/Despedir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Descolor">
      <soap:operation soapAction="http://tempuri.org/IMensajes/Descolor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mensajes">
    <wsdl:port name="BasicHttpBinding_IMensajes" binding="tns:BasicHttpBinding_IMensajes">
      <soap:address location="http://localhost:57375/Mensajes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>