AFsoa/SoapServiceTest/Service References/MensajesWS/Mensajes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CadenaConexion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CadenaConexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadenaConexionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTrainigProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainig" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTrainigProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerTrainigProgramResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalificarTrainigProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainig" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalificarTrainigProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalificarTrainigProgramResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDCalificarTProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainig" type="xs:int" />
        <xs:element minOccurs="0" name="score" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDCalificarTProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UPDCalificarTProgramResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailCalificarTProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msgto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msgsubjet" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msgbody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailCalificarTProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailCalificarTProgramResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>